body {
    background-image: url("Hyrule_Central.png");
    background-size: cover;
    background-attachment: fixed;
    font-family: "Fondamento", cursive;
}
h1 {
    color:#aa9898;
}
.secao {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
    overflow: hidden;

}
table, th, td {
    border: 1px solid #FF0000;
    border-collapse: collapse;
    color: #aa9898;
}
td, th {
    padding: 6px;
}

.imagem_destaque {
     float: left;
    margin: 10px;
    width: 50%;
}